Feedback on draft in `implementation` branch

Hi! I just did a full read-through of the draft in the `implementation` branch, and took these notes. I'd be happy to talk 1-1, but in the meantime want to make them available to you, and this seemed like a reasonable place to put them. Feel free to close this issue or move them around however you'd like.

First, congratulations on the draft progress! I can see it coming together, and it's shaping up to portray a very interesting approach on the problem.

In particular, I'm struck by the cool and intriguing use of multipart and message/rfc822.  I must admit that I don't fully understand them yet, but intrigued. I hope to understand them, and then understand what the advantages are of using them.

Now, I think to move forward, it would be most excellent to achieve a connected understanding of how PREP and Braid are similar and different, so that we can work towards finding common language and headers for the things that are similar, and then for the parts that are different, either switch to using the same things, or create a modular option for the differences so that both can co-exist.

To get there, I still have some things I don't understand in PREP, and there are some parts that I have suggestions for improvements on. Here are my notes as I read PREP and work towards a common understanding. I think these might need a 1-1 conversation. Perhaps we can arrange that sometime — but I'm leaving the notes here in case it's useful!

I'd like to start with you on these two sections of issues:

**Accept-Events & Events:**

 - What are all the parameters available?
   - What is `vary=` for?  How does it differ from Vary header in response?
     - Example: `Events: ... vary=accept-encoding`
   - What is `status=` for?  How does it differ from status in HTTP response?
 - What exactly is "PREP"?
   - Doesn't PREP define Events and Accept-Events?  Or is it something within?
   - Is `Events: protocol=PREP` the same as `Accept-Events: PREP`?
   - What do you mean by "protocol for receiving notifications" in 4.1.?
 - Confused by recursion of:
   - PREP: inside a field defined by PREP, in `Accept-Events: PREP; ` and `Events: protocol=PREP `
     - if PREP defines the Events fields, what does it mean to say you're using PREP within your use of these PREP fields?
   - Accept: the word "accept" appears twice within `Accept-Events: accept=message/rfc822`. Are we accepting what we accept?
 - What does it mean for a server to "prefer" a notification protocol?
 - It seems hard to use Accept-Events for improving performance without being
   relied upon.  If you cannot rely upon it, then you cannot use it, right?
   Am I missing something?  What can you rely upon vs. not rely upon?
 - Intro confused me with Accept-Events vs. Events -- distinction wasn't clear
   - I suggest making Accept-Events optional and introducing later once core
     concept is understood

**Snapshots vs. Patches (or other terminology)**

 - Definitions:
    - I'm calling a "snapshot" a complete copy of a the resource as seen at a point in time
    - and "patch" a description of a change from the prior version to the current version, in whatever format.
 - This PREP draft makes a *snapshot* the first message, and then streams a sequence of patches, like this:
   - `[ snapshot, [ patch, patch, patch, patch ] ]`
 - That's a common pattern, but this is more general and simpler:
   - `[ snapshot-or-patch, snapshot-or-patch, snapshot-or-patch, snapshot-or-patch ]`
 - This would support
   - systems that send a keyframe as a snapshot, and then send a series of diffs. Video works this way, as does `mosh` (I believe)
   - systems where the server needs to periodically compute merges on behalf of the client. It can send all patches to the client, and then periodically send a full snapshot to clear up any ambiguities that occurred.

...and then we could move on to discuss these smaller ones:

**Time Representations**

 - These won't work for relative (distributed) time:
   - Event-ID, Last-Event-ID, Etag, Date
 - So we also need `Version` (*c.f.* [Braid-HTTP](https://datatracker.ietf.org/doc/html/draft-toomim-httpbis-braid-http#section-2.1))
 - That adds up to including all these forms:
   - `Event-ID`
   - `Etag`
   - `Date`
   - `Version`
 - Are these all necessary?  Perhaps we could distinguish when each would be
   needed, so that programmers don't have to fill out all 4 fields for each
   version?

**Multiparts**

 - As we've discussed, boundary specifiers can get clobbered, and I like your new multipart frame spec as a solution to that
 - I still don't see the need for multipart, myself, and prefer putting framing natively within HTTP messages rather than nesting multipart framing within bodies, but I am happy to work towards connection on this issue.

**4.1.1. Validity**

 - The "server must ignore fields it does not understand" is already a part of
   HTTP, and need not be repeated in so much detail here IMO.

**5.1.  Event Fields**

 - What is an event field?
   - It says that header fields can be event fields, but doesn't say what an
     event field is.
   - This sounds conusing, because there is an "Event:" "header field", but I
     think that might be different from an "Event Field" as mentioned here.

**Events vs. Patches?**

 - It seems that the concept of an "Event", since it can be arbitrarily
   defined according to the event type, serves the same semantic purpose in
   mutating a resource as the PATCH method in HTTP.  Is that true?  Or is
   there a distinction?

**What is DPoP in the example in section 7?**

**Deltas**

 - What precisely do you mean by a delta here?  Do you mean the delta
   mentioned in [delta], do you mean an arbitrary patch e.g. as used in a HTTP
   PATCH method?  Or something else, or more general?

 - Would help if the example gave a concrete delta instead of the placeholder <delta>

Thanks for the review and your thoughts! I had privately communicated to you, all the way back in early May, the personal circumstances that prevented me from posting a response sooner.

Due to the number of questions you have raised here, and in the spirit of notifications, this is going to be a multipart response. I will indeed rearrange some issues, and I hope this will bring structure to our shared understanding of notifications. Please wait for me to complete these responses, after which I shall close this issue. Unless you have a very general remark, I would request you to start new issue(s) for responses or further questions on a particular comment, linking back to the comment here.

## Accept-Events & Events Header Fields

The `Accept-Events` & `Events` header fields build on the well established negotiation pattern of `Accept(-*)` and `Content-*` headers. Just as the `Accept` header field is used to request a preferred media-type and server responds with the `Content-Type` header field indicating the media-type it is serving, the `Accept-Events` header field is used to request a preferred notifications protocol and server responds with the `Events` header field indicating the notification protocol it is using to serve notifications. Just as `Accept` in the response provides a list of media-types it can serve in the future,  `Accept-Events` in a response provides the list of supported notification protocols for subsequent requests.

Such content negotiation serves many useful purposes:

+ The `Events` header field tell a recipient, if the `GET` response semantics have been modified to send notifications.
+ Client is able to request different protocols, obviously.
  + This helps facilitate the switch from one protocol to another without the need to invent still new headers and/or other mechanism into HTTP. This will be useful for backwards compatibility and transitioning when new protocols come about.
  + Rather than having only a general purpose protocol, it might be the case that a specialized protocol might be preferred by a consumer when the representation is of a particular (set of) media-type. For example, there is an emerging case in Solid where notifications for RDF resources are served with an infinite turtle or n3 file.
+ Clients are able to parametrize notification requests via the `Accept-Events` header field, and the server is able to indicate the parameters it honoured via the `Events` header field.

To your specific questions:

<br>

> + What are all the parameters available?

_For Headers:_

From 4.1.2 (Emphasis mine)

A protocol identifier MAY be followed with zero or more parameters _defined by the given protocol_, which MAY be followed by a q parameter.

&

From 4.2.2 (Emphasis mine)

It MUST contain one member with the key protocol whose value identifies the notification protocol used in the response. It MAY contain other members that are _defined by the given notification protocol_.

_For PREP:_

Section 5.1

The Per Resource Events Protocol reuses existing HTTP fields ([HTTP], Section 5) as event fields. Any HTTP field MAY be used as an event field. For the limited context of notifications using the Per Resource Events Protocol, an event field with the same name as an HTTP field MUST have identical semantics to that HTTP field, unless otherwise specified.

<br>

> + ...
>     + What is `vary=` for? How does it differ from Vary header in response?
>          + Example: `Events: ... vary=accept-encoding`

The client is allowed to specify parameters along with their choice of protocols. For example:

```
Accept-Events: "prep"; accept="text/turtle"
```

says, use PREP for notifications, but use `text/turtle` as the format for a notification.

In which case, the response `Events` header might say:

```
Events: protocol="prep"; status=200; vary="accept"
```

meaning that server understood the request and will `vary` the content-type of the notification as requested by the client.

If the `vary` did not include `accept`, that would mean the server will not vary the notification media-type and use the default `message/rfc822` format.

This is consistent with reusing a header field as an event field.

<br>

> + ...
>     + What is `status=` for? How does it differ from status in HTTP response?

`status` in the `Events` header field indicates the status for the notifications (portion of the response). For example, a server may present 200 status code for the response as a whole but a 5xx status in the `Events` header, if it is able to serve the current representation but not notifications.

<br>

> + What exactly is "PREP"?
>     + Doesn't PREP define Events and Accept-Events? Or is it something within?

PREP, the specification defines `Accept-Events` and `Events` header fields, the Per Resource Events Protocol (also PREP) and Semantics for `message/rfc822` when used with the Per Resource Events Protocol.

It is not uncommon or unnatural for a specification to define supporting its infrastructure, especially in the initial versions. Based on community feedback, these can always be split out into three separate documents.

<br>

> + ...
>   + Is `Events: protocol=PREP` the same as `Accept-Events: PREP`?

No. See above for detailed explanation above.

<br>

> + ...
>   + What do you mean by "protocol for receiving notifications" in 4.1.

The phrase has been picked out of context. The entire sentence is:

"The Accept-Events header field can be used by application clients to specify their preferred protocol for receiving notifications."

which is quite self-explanatory.

<br>

> + Confused by recursion of:
>   + PREP: inside a field defined by PREP, in `Accept-Events: PREP`;  and `Events: protocol=PREP`
>      + if PREP defines the Events fields, what does it mean to say you're using PREP within your use of these PREP fields?

This feels like a repeat of the previous question! It is not unheard of to use a proper noun to refer to two related things based on the context of use.

There are no "PREP fields". Perhaps you mean event fields. Saying `Events: protocol="prep"` means that response will send notifications using the Per Resource Events protocol.

<br>

> + ...
>     + Accept: the word "accept" appears twice within `Accept-Events: accept=message/rfc822`. Are we accepting what we accept?

The example cited here is copied over incorrectly, rendering the question meaningless. The correct example is:

```
Accept-Events: "prep"; accept=message/rfc822
```

Here, the client is asking the server to use "prep" as a notifications protocol and deliver any notification using the "message/rfc822" media type.

Why-o-why is it so hard to accept, that reusing the same word twice is acceptable?

<br>

> + What does it mean for a server to "prefer" a notification protocol?

I am not sure where you have picked that from. The client indicates a preference for a protocol in the request, and the server might fulfil it. A server can also provide a list of protocols for the client to "prefer" from.

<br>

> + It seems hard to use Accept-Events for improving performance without being
> relied upon. If you cannot rely upon it, then you cannot use it, right?
> Am I missing something? What can you rely upon vs. not rely upon?

I do not quite follow what you even mean by "rely upon"? This is not different from being able to "rely upon" any other HTTP header field?

<br>

> + Intro confused me with Accept-Events vs. Events -- distinction wasn't clear
>    + I suggest making Accept-Events optional and introducing later once core
concept is understood.

As I have established above, the `Accept-Events` and `Events` header fields are based on the well established negotiation pattern defined in the HTTP protocol. I have motivated above the reasons why such a pattern is useful. Perhaps for these reasons, the ability to negotiate notification protocols has also found support with other members in the community.

If the objection is to the language itself, I'll take that as an editorial comment!


## Event Fields

> **5.1. Event Fields**
>
> + What is an event field?
>     + It says that header fields can be event fields, but doesn't say what an
>     event field is.
>     + This sounds conusing, because there is an "Event:" "header field", but I
>     think that might be different from an "Event Field" as mentioned here.

**Defined in section 3.5 Terminology**.

"Event Field
A parameter for a protocol item in the [Accept-Events](https://cxres.github.io/prep/draft-gupta-httpbis-per-resource-events.html#accept-events-header) header field or a member of the [Events](https://cxres.github.io/prep/draft-gupta-httpbis-per-resource-events.html#events-header) header field."

If you click on any instance of the word "event field" in the HTML or PDF versions of the spec, it will take you to this definition.

## Resource, Representation and Notification

> Definitions:
> + I'm calling a "snapshot" a complete copy of a the resource as seen at a point in time and "patch" a description of a change from the prior version to the current version, in whatever format.

The resource is by definition an abstract object. There is no way to truly copy a HTTP resource. A HTTP request provides you a representation of the state of the resource, which may or may not be bit-identical to how the server maintains information associated to that resource (assuming the resource is stored as a digital entity, which is not necessarily true).

When tracking the evolution of a resource over time, a server needs to provide a representation of an event (events being space-time equivalent of state in space, in HTTP terms, a method) on the resource. This is what I call a notification.

This could be a patch applied to a representation (of state), but need not be. A simpler notification could just inform a user-agent of an event or provide metadata about the event.

Thus, a HTTP message in PREP has the pattern:
[ representation, [ notification, notification, notification, notification ] ]

<br>

> + This PREP draft makes a snapshot the first message, and then streams a sequence of patches, like this:
[ snapshot, [ patch, patch, patch, patch ] ]
> + That's a common pattern, but this is more general and simpler:
[ snapshot-or-patch, snapshot-or-patch, snapshot-or-patch, snapshot-or-patch ]

This is an artefact of using multipart according to the guidance of RFC2046, Section 5.1.5., Paragraph 2. If we were to find different composite media-types (see discussion below), I would have no objection to using a flat structure.

## Notifications Framing

(or why I went with `multipart/*` as the composite media-type for serving notifications)

A message communicated over HTTP is, explicitly or implicitly, required to have a media-type. I am aware of only two general purpose composite media types that do not require the content structure to be known in advance:

1. multipart/*
2. application/http

Perhaps the second is more to your liking. I have tried my level best to obtain more information about the second, to little avail. In particular, I have not been able to find any real-world usage examples.

Whereas, `multipart/*` is much more well established, is the preferred media type for composite messages in HTTP (`multipart/byterange` and `multipart/form-data`) and information about it was much easier to find.

### Multipart boundary

> As we've discussed, boundary specifiers can get clobbered, and I like your new multipart frame spec as a solution to that

If the boundary delimiter has high entropy, for all practical purposes, the boundary strings will never clobber. There are more boundary strings available than there are atoms in the known universe.

In [Express PREP](https://github.com/CxRes/express-prep/), we are able to quite easily provide unique boundaries for each response stream, even when they are transmitting the same notifications at no significant processing cost.

And if someone manages to get hold of your stream's unique boundary and inject it back, you have much bigger problems at that time, my friend! And this will affect only the one subscriber who has been attacked.

While I would like a boundary less composite media-type as well (not because of the infinitesimal possibility of clobbering, but due to the general simplicity of the middleware). The "Multipart without Boundaries" proposal was not workable, as pointed out by folks at mediaman.

### Native Framing

> I still don't see the need for multipart, myself, and prefer putting framing natively within HTTP messages rather than nesting multipart framing within bodies

I have previously discussed with you at length why I cannot agree with this statement. HTTP Semantics does not provide a mechanism, as of now, for natively putting multiple messages in a single HTTP response, except using composite media-types.

The "104 MultiResponse" proposal is unfortunately a non-starter, because RFC9110 only allows for a final response (>=200) after 1xx responses (which only have headers and no bodies). Consequently, this can be used to communicate only one representation/notification.

The "709 Subscription" proposal by Kévin Dunglas (Mercure) is perhaps more viable, but that would require a definition of a new class of status codes that currently do not exist, which is likely to break existing HTTP implementations.

The logical extension of these two proposals would be to rewrite HTTP Semantics to support resources in both space and time. But that is quite an onerous task, when simpler options are available that we can deploy today.

### Open to options

If another composite media-type comes to my attention or a native framing strategy is ever adopted by HTTP, I am happy to assess those options for notifications.

If an option is not immediately forthcoming, the benefit of having negotiation (see above) is that we can easily switch to another notification protocol that we invent at a later date.

## Time Representations

> + These won't work for relative (distributed) time:
>     + Event-ID, Last-Event-ID, Etag, Date
> + So we also need Version (c.f. [Braid-HTTP](https://datatracker.ietf.org/doc/html/draft-toomim-httpbis-braid-http#section-2.1))

Physics tells me that `Event-ID` will work! Because a state, that you wish to identify with a `Version`, is an outcome of some event. Having said that, I have no objections to using `Version`.

For the last two, see immediately below.

<br>

> Are these all necessary? Perhaps we could distinguish when each would be
> needed, so that programmers don't have to fill out all 4 fields for each
> version?

The use of any one strategy to identify a representation (or a corresponding state) does not preclude another. We need not even assume that every HTTP server will use versions, even if that would be ideal.

`ETag` is widely deployed and useful, especially for systems not using versioning. A lot of systems already return an E-Tag. Explicitly disallowing it seems too forceful. And it seems even more strange to leave out `Date`. A server can always choose what it wants to fill out.

## Misc.

> **4.1.1. Validity**
>
> The "server must ignore fields it does not understand" is already a part of
> HTTP, and need not be repeated in so much detail here IMO.

I'll take that comment as editorial.

<br>

> **What is DPoP in the example in section 7?**

It is an authentication token [RFC9449: OAuth 2.0 Demonstrating Proof of Possession (DPoP)] carried over from a real-world PREP example. Removed in draft-01 as it is extraneous to the specification!

<br>

> **Deltas**
>
> What precisely do you mean by a delta here? Do you mean the delta
> mentioned in [delta], do you mean an arbitrary patch e.g. as used in a HTTP
> PATCH method? Or something else, or more general?

The ambiguity is somewhat intentional. My intention was to allow servers to support different delta strategies, whether that's RFC3229 or PATCH or yet another. I may change my stance with sufficient implementation feedback!